<%- include ('../../partials/header.ejs')%>
    <%- include ('../../partials/navbar.ejs')%>
        <div class="container">
            <hr>
            <h2>Articles</h2>
            <a href="/admin/articles/new" class="btn btn-success">Criar nova categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Slug</th>
                        <th>Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% articles.forEach(article=> { %>
                        <tr>
                            <td><%= article.id %></td>
                            <td><%= article.title %></td>
                            <td><%= article.slug %></td>
                            <td><%= article.categoryId %></td>
                            <td>                                
                                <form method="POST" action="/article/delete" style="display: inline;" onsubmit="confirmarExclusao(event,this)">
                                    <input type="hidden" name="id" value="<%= article.id %>">
                                    <button class="btn btn-sm btn-danger">Deletar</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <script>
            function confirmarExclusao(event, form){
                event.preventDefault()
                let decision = confirm("Você deseja deletar esta categoria?")
                if(decision){
                    form.submit()
                }
            }
        </script>
        <%- include ('../../partials/footer.ejs')%>